.table_invoice {
    display: flex;
    flex-direction: column;
    padding: 3em 0px;
}
.table_invoice table {
    position: relative;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}
.table_invoice thead {
    background-color: rgb(66, 91, 118);
}
.table_invoice th {
    padding: .5rem;
}
.table_invoice:hover > .btn_add_more_items {
    max-height: 3em;
}
.table_invoice input {
    font-size: 1em;
    font-weight: 600;
    text-align: left;
}
.table_invoice thead input {
    color: rgb(255, 255, 255)!important;
}
.table_invoice .center input {
    text-align: center;
}
.btn_add_more_items{
    box-sizing: border-box;
    width: 100%;
    max-height: 5rem;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    background-color: rgb(253, 143, 95);
    transition: max-height 0.3s ease 0s;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
    border: none;
}
.subtotal_text {
    text-align: end;
    color: #859fbb;
    font-size: larger;
    font-weight: 700;
}
.subtotal_number {
    text-align: center;
}
